/********************************************************

                        GENERAL

********************************************************/
*, html, body {
    margin: 0;
    padding: 0;
    text-align: justify;
    box-sizing: border-box;
}

                        /* PRE-CLASS */
.toutEnMaj {
    text-transform: uppercase;
}
.centrageTot {
    margin: 0 auto;
    text-align: center;
}

    /* LES VARIABLE */
    :root {
        --LesTitresH1: 4rem;
        --LesTitresH2: 3rem;
        --LesTitresH3: 2rem;
        --LesTitresH4: 1.5rem;
    }

/********************************************************
*********************************************************

                        HEARDER
========================================================
********************************************************/




/********************************************************
*********************************************************

                        MAIN
========================================================
********************************************************/


/********************************************************
*********************************************************

                        FOOTER
========================================================
********************************************************/